* {
  padding: 0;
  margin: 0;
}
.panel-container {
  margin: 100px auto;
  width: 500px;
  height: 500px;
  position: relative;
}
.panel-big {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  border: 1px solid red;
  background: rgb(204, 207, 200);
  border: 4px solid rgb(241, 234, 240);
}
.panel-center {
  width: 30%;
  height: 30%;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.panel-part {
  background: black;
  border-radius: 50%;
  position: absolute;
}
